doctype html
html
	
	
	head
		
		title Begin
		
		meta(charset='UTF-8')
		meta(name='author' content='')
		meta(name='keywords' content='')
		meta(name='description' content='')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='SKYPE_TOOLBAR' content='SKYPE_TOOLBAR_PARSER_COMPATIBLE')
		meta(name='format-detection' content='')
		meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		
		link(rel='stylesheet' href='./css/libs.min.css')
		link(rel='stylesheet' href='./css/main.css')
	
	
	body
		
		
		// .header
		header.header
			div.container
				p Header
		// .header end
		
		
		// .content
		main.content
			div.container
				h1 Hello World
				a(href='#')
					img(src='./img/catalog/example-1.jpg' alt='')
		// .content end
		
		
		// .footer
		footer.footer
			div.container
				p Footer
		// .footer end
		
		
		// scripts
		script(src='./js/libs.min.js')
		script(src='./js/main.js')
		// scripts end